# Add files here to ignore them from prettier formatting
node_modules
dist
package-lock.json
.git
tsconfig.*.json
tsconfig.json
tslint.json
package.json
patch.js

#ignore assets
apps/inside-web/src/assets
apps/inside-dashboard/src/assets
apps/inside-dashboard/src/app/documents/services/constants/error-mappings.ts
apps/excel-add-in/src/assets
apps/demo-app/src/assets
shared-assets
