include ../components/image.pug
<!DOCTYPE html>
html(lang=language, dir=dir, itemscope, itemtype="https://schema.org/WebPage", prefix="og:http://ogp.me/ns#")
    head
        include ../components/head.pug
    body.animate-in
        header
            h1
                != page.content.title[language]
            nav
        main
            section
                //- +image(page.images.nebuleuse)
        footer
            p
                = page.footer.createdBy[language]
                a(href="https://github.com/keienla", target="_blank") Thibault Meyer
