- const page = index[language]

html(lang=language, dir="ltr", itemscope, itemtype="https://schema.org/WebPage", prefix="og:http://ogp.me/ns#")
    head
        include ../components/head.pug
    body
        nav
        main
            h1
                = page.body.title
            section