- const language = 'fr'
//-
    Because paths are different from this page and pages in ./pages/
    Need to create this var and if it's the index change the paths in head
- const isIndex = true

include templates/pages/home.pug